RewriteEngine On
RewriteRule ^[^(assets/)] router.php
RewriteRule ^errors$ router.php
RewriteRule ^toriteny$ router.php
RewriteRule ^tetiandro$ router.php
RewriteRule ^sampana router.php
RewriteRule ^.*/$ router.php

ErrorDocument 500 http://tranokala.fiangonana.mg/errors
ErrorDocument 401 http://tranokala.fiangonana.mg/errors
ErrorDocument 404 http://tranokala.fiangonana.mg/errors
ErrorDocument 403 http://tranokala.fiangonana.mg/errors